html,
body {
  min-height: 100%;
}

html {
  margin: 0;
}

:root {
  --code-blue: #00b7f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-blue: #99daff;
  }
}

.token.number,
.token.string {
  color: var(--code-blue);
}
