html {
    color: #253746;
    background-color: #ededed;
    overflow-y: auto;
}

.hero {
    background-color: #253746;
    color: #ddd;
    height: 12rem;
}

a {
    color: #d14124;
}

a:hover {
    color: #f17154;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #253746;
    color: #ddd;
    border-radius: 10px;
}

.hljs-number,.hljs-string {
    color: #d14124
}